{% extends "base.html" %} 

{% block content %}
<div class="row">

{% for photo in photos %}
    <div class="column mx-auto p-2">
        <div class="card bg-dark text-white" style="width: 15rem;">
            <div class="container p-3 h-450" style="height: 450px">  
                
                <img src="{{ photo.thumbnailUrl }}" width="100%">
                <h3 class="mt-2">Álbum: {{ photo.albumId }}</h3>
                <h4>Foto Nº: {{ photo.id }}</h4> 
                <p><b>Título:</b> {{ photo.title }}</p>
                
            </div>
        </div>    
    </div>
{% endfor %}

</div>
{% endblock content %}