<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link 
            rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <title>Listado</title>
    </head>
    <body>
        <h1 class="text-center">Listado de Fotos</h1>
        <div class="text-center pb-3">
            <a href="../" class="btn btn-info" role="button">Volver</a>
        </div>
        <div class="containe r">
            {% block content %} {% endblock content %}
        </div>
    </body>
</html>